<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="assets/css/style.mcss">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="">Project Repo</a></li>
			<li><a href="">Website Repo</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div>
		<div class="abstract">
			<h2>Abstract</h2>
			<p>xxx</p>
		</div>
		<div class="introduction">
			<h2>Introduction</h2>
			<p>
      <p>
      <p>
    </div>
		<div class="methods">
			<h2>Methods</h2>
			<p>I
			<p>
    </div>
		<div class="discussion">
			<h2>Discussion</h2>
			<p>		</div>
	</body>
</html>
